.footer {
  min-width: 200px;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 1rem;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.upper {
  display: flex;
  width: 130px;
  margin: 0 auto 5px;
}

.lower {
  display: flex;
  flex-direction: column-reverse;
}

.p {
  text-align: center;
  margin: 5px;
}

.a {
  color: black;
  text-decoration: none;
}

.a:visited {
  color: black;
}

.a:hover {
  text-decoration: underline;
}

.li {
  margin: 0 6px;
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  .lower {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
  }
}
