.main {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.projectsContainer {
  display: flex;
  max-width: 1000px;
  /* justify-content: center; */
  margin: auto;
}

@media screen and (max-width: 550px) {
  /* PRIOR MODIFICATION FOR DROPDOWN */
  /* .projectsContainer {
    flex-direction: column;
  } */

  .main {
    width: 100%;
  }
}
