.section {
  width: 90%;
  margin: 10px auto;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 4px 3px 5px grey;
}

.header {
  margin: 1rem 0.75rem;
}

.p {
  margin: 0.75rem 0.75rem;
}

.a {
  text-decoration: none;
  color: #259dff;
}

.a:visited {
  color: #259dff;
}

.a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  .section {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .a {
    display: block;
  }

  /* NEEDS TO COME AFTER .A TO ALLOW DESIRED DISPLAY FUNCTION */
  .exception {
    display: inline;
  }
}
