.main {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.projectsContainer {
  display: flex;
}

@media screen and (max-width: 550px) {
  /* PRIOR MODIFICATION FOR DROPDOWN */
  /* .projectsContainer {
    flex-direction: column;
  } */

  .main {
    width: 100vw;
  }
}
