.a {
  text-decoration: none;
  color: black;
}

.a:visited {
  color: black;
}

.a:hover {
  text-decoration: underline;
}

.li {
  list-style-type: none;
}

.nav {
  color: green;
  width: 20%;
  margin-right: 5px;
  padding: 10px;
  position: sticky;
  top: 6%;
  align-self: flex-start;
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }
}
